body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: #2e2f42;
  }
  h1 h2 h3 h4 h5 h6 p {
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  img {
    display: block;
  }
  li {
    padding-left: 0;
    margin: 0;
  }
  
  .head-nav {
    border-bottom: 1px solid #e7e9fc;
  }
  .div-main {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .navt {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .logo {
    margin-right: 76px;
  }
  
  header {
    color: #2e2f42;
  }
  
  nav a:hover {
    text-decoration: none;
    color: #404bbf;
  }
  
  .ulheader {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
  }
  
  .tabq {
    padding: 24px 0;
    display: block;
    cursor: pointer;
    color: #434455;
  }
  .ulheader:hover {
    color: #404bbf;
  }
  
  .ulheader:focus {
    color: #404bbf;
  }
  nav .tabq {
    color: #2e2f42;
  }
  
  .tab:hover {
    color: #404bbf;
  }
  
  .tabq:focus {
    color: #404bbf;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
  }
  
  .logow {
    color: #2e2f42;
  }
  .lilili {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: calc((100% - 72px) / 4);
  }
  
  .address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .address:hover {
    color: #404bbf;
  }
  
  .address:focus {
    color: #404bbf;
  }
  
  /* main*/
  .sectionone {
    background-color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    margin-left: auto;
    margin-right: auto;
  }
  .hhhh {
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
  
  .butt {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .butt:hover {
    background-color: #404bbf;
  }
  
  .butt:focus {
    background-color: #404bbf;
  }
  
  .sectiontwo {
    padding: 120px 0;
  }
  
  .visually-hidden {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .lilili {
    flex-basis: calc((100% - 72px) / 4);
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .ulmain {
    text-align: left;
    display: flex;
    gap: 24px;
  }
  
  .hhhqq {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .profile p {
    text-align: center;
  }
  
  .pppp {
    font-size: 16px;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .sectionthree {
    background-color: #f4f4fd;
    padding: 120px 0;
  }
  
  .hhww {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  
  .li_li {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .qppp {
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    color: #434455;
  }
  
  .fotoul {
    background-color: #ffffff;
    display: flex;
    gap: 24px;
  }
  
  .fotoli {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
  .profile {
    padding: 32px 0;
  }
  .sectionfour {
    background-color: white;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .ulgogo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .lifour {
    width: calc((100% - 48px) / 3);
  }
  .divfour {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .foot {
    background-color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0;
  }
  
  .poii {
    font-weight: 400;
    color: #f4f4fd;
    font-size: 16px;
    max-width: 264px;
  }
  header div {
    display: flex;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .logofi {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .logow {
    color: #2e2f42;
  }
  
  .logoq {
    color: #f4f4fd;
  }
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  